<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQYZddqla1xjfeP61olBXaq7ej90u__Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>193574574677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>progettoProva.ScanOCR</string>
	<key>PROJECT_ID</key>
	<string>helperroomate</string>
	<key>STORAGE_BUCKET</key>
	<string>helperroomate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193574574677:ios:cd357c735e74736cd812dc</string>
</dict>
</plist>